@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btn-submit: #151b54;
}

@layer base {
  .btn__submit {
    box-shadow: #000 4px 4px 0px 0px;
    border: 2px solid #000;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    @apply transition-all
  }

  .btn__submit:hover {
    box-shadow: none;
    @apply translate-y-1 translate-x-1
  }
}

.bg-partials {
  @apply bg-purple-800 text-white
}

.hero-text {
  text-shadow: 4px 4px #000;
  -webkit-text-stroke: 1px black;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1140px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 840px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}